@import './defaults.css';



img {
    width: 400px;
}
main {
    padding: 30px;
    background-color: rgb(208, 255, 0);
}
footer {
    padding: 30px;
}




a {
    transition: background-color 150ms linear;
}

a.active {
    background: aqua;
}
a:hover {
    background: rgb(236, 225, 59);
}

svg {
    display: block;
    margin: auto;
    background-color: black;
}

