@import '/rsrc/css/minireset.css';
@import '/_app/ui/css/debug.css';

/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */
/* 320px, 768px, 1024px */

/* mobile portrait: less than 640px
mobile landscape: > 640px
tablet portrait: > 768px
tablet landscape: > 1024px
laptop: > 1280px */



/* https://firedev.com/posts/sane-breakpoints/ */
/* Hides element on screens bigger than $small breakpoint */
/* .sm-hide {
    @media (min-width: $small) {
        display: none;
    } */
}
       /* $small                  $medium                 $large
 Portrait | Landscape   Portrait | Landscape   Portrait | Landscape
 Phone    | Phone       iPad     | iPad        iPad Pro | iPad Pro */
:root {
    /* 560px */
    --small: 35rem;
    /* 880px */
    --medium: 55rem;
    /* 1040px */
    --large: 65rem;
}



/**
 * tipography
 * responsive
 */
:root {
    --color-primary: #212121;
    --color-accent: crimson;
    --text-size: 17px;
    --line-height: 1.75;
}

@media only screen and (min-width: 768px) {
    :root {
        --text-size: 19px;
    }

}
@media only screen and (min-width: 992px) {
    :root {
        --text-size: 21px;
    }

}
@media only screen and (min-width:1200px) {
    :root {
        --text-size: 23px;
    }

}
@media only screen and (min-width:1900px) {
    :root {
        /* --text-size: 26px; */
    }

}

/**
 * tipography
 * settings
 */
html {
    font-size: var(--text-size);
}

body, h1, h2, h3, h4, h5, p {
    transition: all 250ms linear;
}

body {
    color: #212121;
    line-height: 1.75;
    font-family: 'Titillium Web', sans-serif;
}
  




  






p {
    margin-bottom: 1rem;
}

/**
 * minor third
 */
h1 {
    font-size: 2.488rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.728rem;
}
h4 {
    font-size: 1.44rem;
}
h5 {
    font-size: 1.2rem;
}
small, .text_small {
    font-size: 0.833rem;
}

/**
 * perfect fourth
 */
/* h1, h2, h3, h4, h5 {
    line-height: 1.4;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.7rem;
}
h5 {
    font-size: 1.35rem;
}
h6 {
    font-size: 1rem;
}
small, .text_small {
    font-size: 0.75rem;
} */

/**
 * major third
 */
/* h1 {
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
h4 {
    font-size: 1.563rem;
}
h5 {
    font-size: 1.25rem;
}
small, .text_small {
    font-size: 0.8rem;
} */


/* main elements */
main {
    padding: 30px;
}

section {

}

article {

}

footer {
    padding: 30px;
}












/* links */
a {
    /* color: #212121; */
    padding: 12px;
    margin: 12px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.35em;
    text-decoration-color: #454545;
}
a:hover {
    color: #fc0685;
    text-decoration-color: #fc0685;
}
a:link {
    /* text-decoration: none; */
}
a:visited {
    /* text-decoration: none; */
}

a:active {
    /* text-decoration: underline; */
}

a.active {
    /* text-decoration: underline; */
    background: #fc0685;
}





img {
    width: 400px;
}











/* pjax content animation */
.show {
    animation: _show .8s;
}
.hide {
    animation: _hide .8s;
}
@keyframes _show { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes _hide { 
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
